<div class="jumbotron">

	<center>
		<h1>Welcome to Pizza Shack</h1>

		<img src="http://dev.wfpshop.com/wp-content/uploads/2013/11/wood-fired-pizza-logo.png">
		<br>

		<%=link_to "Check out our pizzas!", pizzas_path, class:
	 		"btn btn-default" %>
	</center>
</div>



